<script>
  import Fuse from "fuse.js";

  import Search from "./Search.svelte";
  import Selector from "./Selector.svelte";

  let value = "";
  let filtered = [];

  $: {
    let data = Promise.all([bookmarks(), history()]).then(
      ([bookmarks, history]) => [...bookmarks, ...history]
    );

    if (value === "") {
      data.then(rows => (filtered = rows));
    } else {
      data.then(rows => {
        filtered = new Fuse(rows, {
          tokenize: true,
          keys: [{ name: "title", weight: 0.7 }, { name: "url", weight: 0.3 }]
        }).search(value);
      });
    }
  }

  function bookmarks() {
    return browser.bookmarks
      .search({})
      .then(bookmarks =>
        bookmarks.filter(bookmark => bookmark.url !== undefined)
      );
  }

  function history() {
    return browser.history.search({ text: "", maxResults: 1000000 });
  }
</script>

<style>
  :global(body) {
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 1.2em;
    background-color: #36393f;
  }

  .nav {
    position: fixed;
    width: 100%;
    background-color: #7e57c2;
    z-index: 100;

    display: grid;
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
  }

  .nav > * {
    margin: 1em;
  }

  .list {
    position: relative;
    top: 5em;
  }
</style>

<div class="nav">
  <div>
    <Search bind:value />
  </div>
  <div>param 1</div>
  <div>param 2</div>

</div>

<div class="list">
  <Selector items={filtered} />
</div>
