<script>
  export let url;
  export let title;

  export let active = false;
</script>

<style>
  .container {
    padding: 1em;
    cursor: pointer;
    border-bottom: 1px solid #51505042;
  }

  .active {
    background-color: #43b581;
  }

  .title {
    font-weight: bold;
    color: #ececec;
  }

  .url {
    color: #b9b9b9d4;
  }
</style>

<div class="container" class:active on:click on:mousemove>
  <span class="title">{title}</span>
  <span class="url">{url}</span>
</div>
