<script>
  import { onMount } from "svelte";

  onMount(() => input.focus());

  export let value = "";

  let input;
</script>

<style>
  input {
    display: block;
    margin: 0;
    padding: 0.8em 1.6em;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    border: none;
    border-radius: 0.2em;
  }
</style>

<input type="text" bind:value bind:this={input} />
