<script>
  import Item from "./item.svelte";

  export let items = [];

  let selected = 0;
  let container = undefined;

  function scrollToItem() {
    if (selected === 0) {
      container.children[selected].scrollIntoView({
        behavior: "smooth",
        block: "nearest"
      });
    }
  }

  function go() {
    browser.tabs
      .getCurrent()
      .then(({ id }) => browser.tabs.update(id, { url: items[selected].url }));
  }

  function select(index) {
    if (selected != index) {
      console.log("Selected: ", index);
    }

    selected = index;
  }

  function handleKeydown(event) {
    switch (event.key) {
      case "Enter":
        event.preventDefault();
        go();
        break;

      case "ArrowDown":
        event.preventDefault();

        selected = (selected + 1) % items.length;
        scrollToItem();
        break;

      case "ArrowUp":
        event.preventDefault();

        const length = items.length;
        selected = (selected + length - 1) % length;
        scrollToItem();
        break;
    }
  }
</script>

<svelte:window on:keydown={handleKeydown} />

<div class="container" bind:this={container}>
  {#each items as { title, url }, i}
    <Item
      {title}
      {url}
      active={i === selected}
      on:click={go}
      on:mousemove={() => select(i)} />
  {/each}
</div>
